1.0.0/flow.json
[
    {
        "id": "186f06fd.ba6ca9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dcdd66a.5ae6198",
        "type": "express",
        "z": "186f06fd.ba6ca9",
        "name": "",
        "func": "var require = context.global.get('require');\nvar app=msg.app;\n \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 361.4930725097656,
        "y": 282.82986068725586,
        "wires": [
            []
        ]
    },
    {
        "id": "f4ef6a4a.00f198",
        "type": "function",
        "z": "186f06fd.ba6ca9",
        "name": "",
        "func": "var require = context.global.get('require'); \n\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 578.5069885253906,
        "y": 220.8333396911621,
        "wires": [
            []
        ]
    },
    {
        "id": "3daae789.d2a318",
        "type": "python3-function",
        "z": "186f06fd.ba6ca9",
        "name": "",
        "func": "\nreturn msg",
        "outputs": 1,
        "x": 727.5000305175781,
        "y": 374.82641220092773,
        "wires": [
            []
        ]
    }
]