1.0.0/flow.json
[
    {
        "id": "2ed04215.a655fe",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1b9babdd.185bb4",
        "type": "express",
        "z": "2ed04215.a655fe",
        "name": "",
        "func": "var require = context.global.get('require');\nvar app=msg.app;\n \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 166.5,
        "y": 451.796875,
        "wires": [
            [
                "381e72e6.2d69fe"
            ]
        ]
    },
    {
        "id": "5a2a1f36.6d4de",
        "type": "function",
        "z": "2ed04215.a655fe",
        "name": "",
        "func": "var require = context.global.get('require'); \n\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 372.5,
        "y": 314.796875,
        "wires": [
            [
                "8dd85999.45c318"
            ]
        ]
    },
    {
        "id": "8dd85999.45c318",
        "type": "console",
        "z": "2ed04215.a655fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 575.5,
        "y": 393.796875,
        "wires": []
    },
    {
        "id": "c774ca21.4659d8",
        "type": "http in",
        "z": "2ed04215.a655fe",
        "name": "",
        "url": "",
        "method": "get",
        "upload": false,
        "x": 87.5,
        "y": 115.796875,
        "wires": [
            [
                "5a2a1f36.6d4de"
            ]
        ]
    },
    {
        "id": "381e72e6.2d69fe",
        "type": "function",
        "z": "2ed04215.a655fe",
        "name": "",
        "func": "var require = context.global.get('require'); \n\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 438.5,
        "y": 553.796875,
        "wires": [
            []
        ]
    }
]