1.0.1/flow.json
[
    {
        "id": "5465223b.99028c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "37aa7279.773fce",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "51a45341.97a21c",
        "type": "function",
        "z": "5465223b.99028c",
        "name": "",
        "func": "var require = context.global.get('require');\n\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 468.5,
        "y": 340.796875,
        "wires": [
            []
        ]
    },
    {
        "id": "94bb1341.97a21c",
        "type": "function",
        "z": "5465223b.99028c",
        "name": "",
        "func": "var require = context.global.get('require');\n msg.payload(); \n\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 667.5,
        "y": 340.796875,
        "wires": [
            []
        ]
    },
    {
        "id": "f9d5ed3d.3222b",
        "type": "express",
        "z": "37aa7279.773fce",
        "name": "",
        "func": "var require = context.global.get('require');\nvar app=msg.app;\n \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 425.5035095214844,
        "y": 278.81945419311523,
        "wires": [
            [
                "e4239635.df1058"
            ]
        ]
    },
    {
        "id": "7179d93.c9b4028",
        "type": "function",
        "z": "37aa7279.773fce",
        "name": "",
        "func": "var require = context.global.get('require'); \n\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 451.4930725097656,
        "y": 404.82641220092773,
        "wires": [
            [
                "e4239635.df1058"
            ]
        ]
    },
    {
        "id": "e4239635.df1058",
        "type": "python3-function",
        "z": "37aa7279.773fce",
        "name": "",
        "func": "\nreturn msg",
        "outputs": 1,
        "x": 657.5000305175781,
        "y": 309.82641220092773,
        "wires": [
            []
        ]
    }
]