1.0.2/flow.json
[
    {
        "id": "ccf8b173.24fa4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c521d158.3d1b",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "51a45341.97a21c",
        "type": "function",
        "z": "ccf8b173.24fa4",
        "name": "",
        "func": "var require = context.global.get('require');\n\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 430,
        "y": 320,
        "wires": [
            [
                "94bb1341.97a21c"
            ]
        ]
    },
    {
        "id": "94bb1341.97a21c",
        "type": "function",
        "z": "ccf8b173.24fa4",
        "name": "",
        "func": "var require = context.global.get('require');\n msg.payload(); \n\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 667.5,
        "y": 340.796875,
        "wires": [
            []
        ]
    },
    {
        "id": "c9b10169.0cf0a",
        "type": "function",
        "z": "c521d158.3d1b",
        "name": "",
        "func": "var require = context.global.get('require'); \n\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 554.4965515136719,
        "y": 371.8229331970215,
        "wires": [
            [
                "323cf188.46879e"
            ]
        ]
    },
    {
        "id": "3831ea6a.0a4656",
        "type": "express",
        "z": "c521d158.3d1b",
        "name": "",
        "func": "var require = context.global.get('require');\nvar app=msg.app;\n \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 494.4965515136719,
        "y": 158.81945419311523,
        "wires": [
            [
                "c9b10169.0cf0a"
            ]
        ]
    },
    {
        "id": "323cf188.46879e",
        "type": "python3-function",
        "z": "c521d158.3d1b",
        "name": "",
        "func": "\nreturn msg",
        "outputs": 1,
        "x": 753.5069274902344,
        "y": 237.82986068725586,
        "wires": [
            []
        ]
    }
]